<clr-radio-container>
    <clr-radio-wrapper>
        <input type="radio" clrRadio value="tf-hours" name="date-filter" [(ngModel)]="value" (change)="onItemChange()" />
        <label>Next 24 hours</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio value="s-days" name="date-filter" [(ngModel)]="value" (change)="onItemChange()" />
        <label>Next 7 days</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio value="t-days" name="date-filter" [(ngModel)]="value" (change)="onItemChange()" />
        <label>Next 30 days</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio value="all" name="date-filter" [(ngModel)]="value" [checked]="true" (change)="onItemChange()"  />
        <label>All</label>
    </clr-radio-wrapper>
</clr-radio-container>