.back-arrow{
    cursor: pointer;
}
.time-control{
    margin-top: 1.2rem;
}
.page-title{
    font-size: 1.6em;
    font-weight: normal;
}
hr{
border: 0px;
    border-top: 1px solid;
    margin: 0px;
}
.subtitle{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.alert{
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-radius: 0%;
    border: 0px;
    width: 100%;
}