<div class="card">
    <div class="card-header">
        Address and Contact
        <a routerLink="../client-info">
            <cds-icon shape="pop-out"></cds-icon>
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <cds-icon shape="home"></cds-icon>
            <span>
                {{address}}
            </span>
        </li>
        <li class="list-group-item">
            <cds-icon shape="mobile"></cds-icon>
            <span>
                {{phoneNumber}}
            </span>
        </li>
        <li class="list-group-item">
            <cds-icon shape="envelope"></cds-icon>
            <span>
                {{mail}}
            </span>
        </li>
    </ul>
</div>
  