<div class="clr-row clr-align-items-center clr-justify-content-between">
    <div class="clr-col-7 clr-col-md-5 clr-col-lg-3 clr-col-sm-5 clr-offset-xl-1">
        <div class="clr-row clr-align-items-center">
            <cds-icon shape="arrow" direction="left" size="lg" routerLink="/home" class="back-arrow"></cds-icon>
            <span class="page-title">Clients</span>
        </div>
    </div>
</div>
<hr>
<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-xl-6 clr-offset-xl-1 search-bar">
        <app-search-bar (searchEvent)="searchClientsOrgs($event)"></app-search-bar>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-sm-11 clr-offset-xl-1" *ngIf="searchDone">
        <button type="button" class="btn btn-outline" routerLink="new">New client</button>
        <button type="button" class="btn btn-outline" routerLink="/organisation/new">New organisation</button>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-xl-6 clr-offset-xl-1">
        <app-search-table [clients]="clients" [search]="searchTerms"></app-search-table>
    </div>
</div>
<clr-alert class="alert" clrAlertType="success" [clrAlertAppLevel]="true" [clrAlertClosable]="false" *ngIf="clientSuccess || organisationSucces">
    <em>Registration completed successfully.</em>
</clr-alert>
