<clr-modal [clrModalOpen]="modalIsOpen" (clrModalOpenChange)="onClickClose()" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <div class="modal-body">
        <div class="clr-row">
            <div class="clr-col-lg-1 clr-offset-lg-11">
                <cds-icon-button action="outline" (click)="onClickEdit()" *ngIf="!editable">
                    <cds-icon shape="pencil"></cds-icon>
                </cds-icon-button>
                <cds-icon-button (click)="onClickEdit()" *ngIf="editable">
                    <cds-icon shape="pencil"></cds-icon>
                </cds-icon-button>
            </div>
        </div>
    <form clrForm clrLayout="vertical" [formGroup]="appointmentsDataForm" class="form-component">
        <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-lg-4">
              <clr-input-container>
                <label for="title">
                  Title*
                </label>
                <input clrInput type="text" required id="title"
                      formControlName="title"/>
                <clr-control-error *clrIfError="'required'">
                  Title field is mandatory
                </clr-control-error>
                <clr-control-error *clrIfError="'pattern'">
                  Please enter a valid title
                </clr-control-error>
                <clr-control-error *clrIfError="'minlength'">
                  Title must be at least 2 characters long
                </clr-control-error>
                <clr-control-error *clrIfError="'maxlength'">
                  Title must not exceed 60 characters
                </clr-control-error>
              </clr-input-container>
      
      
                <clr-combobox-container >
                  <label>Contact Type:</label>
                  <clr-combobox required name="contactType" required formControlName="contactType">
                    <clr-options>
                      <clr-option clrValue="Online Meeting">Online Meeting</clr-option>
                      <clr-option clrValue="Showroom Meeting">Showroom Meeting</clr-option>
                      <clr-option clrValue="Client's Office Meeting">Client's Office Meeting</clr-option>
                      <clr-option clrValue="Phone">Phone</clr-option>
                      <clr-option clrValue="Email">Email</clr-option>
                      <clr-option clrValue="SMS">SMS</clr-option>
                    </clr-options>
                  </clr-combobox>
                  <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
                </clr-combobox-container>
      
      
      
                <clr-combobox-container >
                  <label>Assign To:</label>
                  <clr-combobox required name="assignTo" required formControlName="assignTo">
                    <clr-options *ngIf="assignToValue !== null">
                      <clr-option *clrOptionItems="let name of assignToValue" [clrValue]="name">{{name}}</clr-option>
                    </clr-options>
                  </clr-combobox>
                  <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
                </clr-combobox-container>
      
                <clr-input-container>
                  <label for="createdBy">
                    Created By:
                  </label>
                  <input clrInput readonly type="text" id="createdBy"
                  formControlName="createdBy" readonly>
                </clr-input-container>
      
      
      
            </div>
      
            <div class="clr-col-sm-12 clr-col-lg-4">
                <clr-date-container>
                  <label for="startDate">
                    Start Date*
                  </label>
                  <input clrDate cngDateFormatter required type="text" id="startDate"
                  formControlName="startDate" min="{{dateNow}}" (blur)="startDateLostFocus()" (ngModelChange)="startDateChange($event)" #startDate>
                  <clr-control-error *clrIfError="'pattern'">Invalid date pattern</clr-control-error>
                  <clr-control-error *clrIfError="'dateValidatorError'">Invalid date pattern</clr-control-error>
                  <clr-control-error *clrIfError="'invalidDate'">Please enter a valid date</clr-control-error>
      
                  <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
      
                </clr-date-container>
                <cds-time layout="vertical" control-width="shrink" class="cds-time">
                  <label for="startDateTime">Time*</label>
                  <input type="time" formControlName="startDateTime" id="startDateTime"/>
                  <cds-control-message status="error" *ngIf="startDateTime.touched && startDateTime.hasError('required')">This field is mandatory</cds-control-message>
                  <cds-control-message status="error" *ngIf="errorMessage && !startDateTime.touched" class="cds-time-message">This field is mandatory</cds-control-message>
                </cds-time>
      
              <clr-date-container >
                <label for="endDate">
                  End Date*
                </label>
                <input clrDate cngDateFormatter required type="text" id="endDate"
                formControlName="endDate" min={{dateNow}}>
                <clr-control-error *clrIfError="'checkIfStartDateisFilled'">Please fill the Start Date field first</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Invalid date pattern</clr-control-error>
                <clr-control-error *clrIfError="'dateValidatorError'">Invalid date pattern</clr-control-error>
                <clr-control-error *clrIfError="'invalidDate'">Please enter a valid date</clr-control-error>
                <clr-control-error *clrIfError="'checkIfEndDateisGreater'">Please enter a date greater than Start Date</clr-control-error>
                <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
              </clr-date-container>

              <cds-time control-width="shrink" layout="vertical" class="cds-time">
                <label for="endDateTime">Time*</label>
                <input type="time" formControlName="endDateTime" id="endDateTime"/>
                <cds-control-message status="error" *ngIf="endDateTime.touched && !startDateTime.value">Please fill the Start Time field first</cds-control-message>
                <cds-control-message status="error" *ngIf="errorMessage && !endDateTime.touched" class="cds-time-message">This field is mandatory</cds-control-message>
                <cds-control-message status="error" *ngIf="checkEndDateTimeValidityValue" class="cds-time-message">Please enter another time</cds-control-message>
                <cds-control-message status="error" *ngIf="endDateTime.touched && startDateTime.hasError('required')" class="cds-time-message">This field is mandatory</cds-control-message>
              </cds-time>

              <clr-input-container>
                <label for="status">
                  Status:
                </label>
                <input clrInput readonly type="text" id="status"
                formControlName="status" [(ngModel)]="statusValue">
              </clr-input-container>
      
              <clr-textarea-container>
                <label for="description">
                  Description
                </label>
                <textarea clrTextarea id="description"
                formControlName="description">
                </textarea>
                <clr-control-error *clrIfError="'maxlength'">
                  Description length must not exceed 500 characters
                </clr-control-error>
              </clr-textarea-container>
            </div>
        </div>
      </form>
    </div>
      
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onClickCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onClickDelete()" *ngIf="!editable">Delete</button>
        <button type="button" class="btn btn-primary" (click)="onClickSave()" *ngIf="editable" [disabled]="!appointmentsDataForm.valid">Save</button>
    </div>
</clr-modal>