<clr-modal [clrModalOpen]="modalIsOpen" (clrModalOpenChange)="onClickClose()" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <div class="modal-body">
      <div class="clr-row clr-align-items-center">
        <div class="clr-col-10 clr-col-sm-10 clr-col-lg-11">
          <h3 class="modal-title" *ngIf="task">Task: {{task.title}}</h3>
        </div>
        <div class="clr-col-2 clr-col-sm-1 clr-row">
            <cds-icon-button class="clr-align-self-center" action="outline" (click)="onClickEdit()" *ngIf="!editable">
                <cds-icon shape="pencil"></cds-icon>
            </cds-icon-button>
            <cds-icon-button class="clr-align-self-center" (click)="onClickEdit()" *ngIf="editable">
                <cds-icon shape="pencil"></cds-icon>
            </cds-icon-button>
        </div>
      </div>
      <form clrForm clrLayout="vertical" [formGroup]="taskDataForm" class="form-component">
        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-lg-4 clr-offset-lg-1">
            <div class="clr-row">
              <clr-input-container>
                <label for="title">
                  Title*
                </label>
                <input clrInput type="text" required id="title"
                      formControlName="title"/>
                <clr-control-error *clrIfError="'required'">
                  Title field is mandatory
                </clr-control-error>
                <clr-control-error *clrIfError="'pattern'">
                  Please enter a valid title
                </clr-control-error>
                <clr-control-error *clrIfError="'minlength'">
                  Title must be at least 2 characters long
                </clr-control-error>
                <clr-control-error *clrIfError="'maxlength'">
                  Title must not exceed 60 characters
                </clr-control-error>
              </clr-input-container>
            </div>
            <div class="clr-row">
              <clr-combobox-container>
                <label>Priority:</label>
                <clr-combobox required name="priority" required formControlName="priority">
                  <clr-options>
                    <clr-option clrValue="High">High</clr-option>
                    <clr-option clrValue="Medium">Medium</clr-option>
                    <clr-option clrValue="Low">Low</clr-option>
                  </clr-options>
                </clr-combobox>
                <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
              </clr-combobox-container>
            </div>
            <div class="clr-row">
              <clr-combobox-container >
                <label>Assign To:</label>
                <clr-combobox required name="assignTo" required formControlName="assignTo">
                  <clr-options *ngIf="assignToValue !== null">
                    <clr-option *clrOptionItems="let name of assignToValue" [clrValue]="name">{{name}}</clr-option>
                  </clr-options>
                </clr-combobox>
                <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
              </clr-combobox-container>
            </div>
            <div class="clr-row">
              <clr-input-container>
                <label for="createdBy">
                  Created By:
                </label>
                <input clrInput readonly type="text" id="createdBy"
                formControlName="createdBy" readonly>
              </clr-input-container>
            </div>
          </div>

          <div class="clr-col-sm-12 clr-col-lg-4">
            <div class="clr-row">
              <clr-date-container class="dont-show-validation-icon dont-scale-on-error" >
                <label for="dueDate">
                  Due Date*
                </label>
                <input clrDate cngDateFormatter required type="text" id="dueDate"
                formControlName="dueDate" min={{dateNow}}>
                <clr-control-error *clrIfError="'pattern'">Invalid date pattern</clr-control-error>
                <clr-control-error *clrIfError="'invalidDate'">Please enter a valid date</clr-control-error>
                <clr-control-error *clrIfError="'required'">This field is mandatory</clr-control-error>
              </clr-date-container>
              <cds-time control-width="shrink" layout="vertical" class="cds-time">
                <label for="dueDateTime"></label>
                <input type="time" formControlName="dueDateTime" id="dueDateTime"/>

                <cds-control-message status="error" *ngIf="errorMessage && !dueDateTime.touched" class="cds-time-message">This field is mandatory</cds-control-message>
                <cds-control-message status="error" *ngIf="dueDateTime.hasError('invalidDueDate')">Enter a value greater or equal than the current time</cds-control-message>
                <cds-control-message status="error" *ngIf="dueDateTime.touched && dueDateTime.hasError('required')" class="cds-time-message">This field is mandatory</cds-control-message>

              </cds-time>
            </div>
            <div class="clr-row clr-form-control">
              <cds-checkbox>
                <label id="done-label">Done</label>
                <input clrCheckbox type="checkbox" name="done" id="done" formControlName="done"/>
              </cds-checkbox>
            </div>
            <div class="clr-row">
              <clr-input-container>
                <label for="status">
                  Status:
                </label>
                <input clrInput readonly type="text" id="status"
                formControlName="status" [(ngModel)]="statusValue">
              </clr-input-container>
            </div>
            <div class="clr-row">
              <clr-textarea-container>
                <label for="description">
                  Description
                </label>
                <textarea clrTextarea id="description"
                formControlName="description">
                </textarea>
                <clr-control-error *clrIfError="'maxlength'">
                  Description length must not exceed 500 characters
                </clr-control-error>
              </clr-textarea-container>
            </div>
          </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onClickCancel()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onClickDelete()" *ngIf="!editable">Delete</button>
      <button type="button" class="btn btn-primary" (click)="onClickSave()" *ngIf="editable" [disabled]="!taskDataForm.valid">Save</button>
  </div>
</clr-modal>
