<div class="content-header">
        <div class="clr-col-7 clr-col-md-5 clr-col-lg-3 clr-col-sm-5 clr-offset-xl-1">
            <div class="clr-row clr-align-items-center">
                <cds-icon shape="arrow" direction="left" size="lg" routerLink="/clients" class="back-arrow"></cds-icon>
                <span class="page-title">{{clientSalutation | titlecase}} {{clientName}}</span>
            </div>
        </div>
    <hr>
</div>
<div class="content-container">
    <app-subnav></app-subnav>
    <div class="content-area">
        <router-outlet></router-outlet>
        <clr-alert class="alert" clrAlertType="success" [clrAlertAppLevel]="true" [clrAlertClosable]="false" *ngIf="clientSuccess || organisationSuccess">
            <em>Registration completed successfully.</em>
        </clr-alert>
    </div>
</div>
