.page-title{
    font-size: 1.6em;
    font-weight: normal;
}
hr{
    border: 0px;
    border-top: 1px solid;
    margin: 0px;
}
.back-arrow{
    cursor: pointer;
}
.red-color{
    color:rgb(180, 44, 44);
}

.task-success{
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.task-row{
    cursor: pointer;
}

