/* You can add global styles to this file, and also import other style files */
.bg-img{
    background-image: url("/assets/images/porsche-model.png") !important;
    background-position: 50% -50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}